# Environnement
.env
*.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Base de données
*.db
*.sqlite
*.sqlite3

# Logs
*.log
*.log.*

# Uploads
uploads/
media/

# Système
.DS_Store
Thumbs.db
